<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-4" ng-repeat="course in vm.courses">
            <div class="panel" ng-style="{'border-color': course.color_code || '#337AB7'}">
                <div class="panel-heading" ng-style="{'border-color': course.color_code || '#337AB7', 'background-color': course.color_code || '#337AB7'}">
                    <span ng-bind="course.name"></span>
                    <span class="pull-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span ng-bind="course.duration"></span> hours</span>
                </div>
                <div class="panel-body fixedheight">
                    <span ng-bind="course.description"></span>
                    <div class="btn-group bottomright">
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.showCourseInfo(course.id, course.name)">
                            <i class="fa fa-info" aria-hidden="true"></i> View More
                        </button>
                        <a target="_self" href="{{course.filePath}}" download="{{course.fileName}}" title="Download Course Info" class="btn btn-default btn-sm">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-footer container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <button type="button" class="btn btn-default btn-circle" title="Instructors" uib-popover-template="'instructorPopuptpl.html'" popover-trigger="mouseenter" popover-title="Instructors">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <!--  Instructor -->
                            </button>
                            <button type="button" class="btn btn-default btn-circle" title="Demo" ng-click="vm.showCourseDemo(course)">
                                <i class="fa fa-film" aria-hidden="true"></i>
                                <!--  Demo -->
                            </button>
                        </div>
                        <div class="col-md-8 col-xs-8 text-right">
                            <a href="https://www.instamojo.com/Flavido/forumias-mains-test-series/" rel="im-checkout" data-behaviour="link" data-style="light" data-text="Checkout With Instamojo" data-token="c599eda8489c718db36fe146f134fb9a"></a>
                            <!-- <button type="button" class="btn btn-default btn-sm">
                                <i class="fa fa-credit-card" aria-hidden="true"></i> Subscribe Now
                            </button> -->
                        </div>
                    </div>
                </div>
                <script type="text/ng-template" id="instructorPopuptpl.html">
                    <div>
                        <div ng-repeat="instructor in course.instructors" ng-bind="instructor.fullName"></div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
