<div class="container-fluid" ng-cloak>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="center-block" style="height:150px; width:150px;">
                        <img style="width:150px;" class="img-rounded center-block" ng-if="vm.user.profilePhoto">
                        <img ngf-src="vm.user.profilePhoto || '/assets/images/defaultProfileImg.png'" ngf-resize="{width: 150, height: 150, quality: 0.9}" style="border:1px solid lightseagreen; height:150px;" />
                    </div>
                    <br />
                    <button class="btn btn-default center-block" ngf-select type="file" ng-model="vm.user.profilePhoto" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
                        Change Photo
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="profile.name">Full Name</label>
                    <input type="text" class="form-control" id="profile.name" placeholder="Full Name" ng-model="vm.user.fullName" />
                </div>
                <div class="form-group">
                    <label for="profile.email">Email</label>
                    <input type="email" class="form-control" id="profile.email" placeholder="Email" ng-model="vm.user.email" />
                </div>
                <div class="form-group">
                    <label for="profile.phone">Phone</label>
                    <input type="text" class="form-control" id="profile.phone" placeholder="Phone" ng-model="vm.user.phone" />
                </div>
                <div class="form-group">
                    <label for="profile.about">About you</label>
                    <textarea class="form-control" id="profile.about" rows="5" placeholder="About you" ng-model="vm.user.about">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="profile.billingAddress">Billing Address</label>
                    <textarea class="form-control" id="profile.billingAddress" rows="5" placeholder="Address" ng-model="vm.user.billingAddress">
                    </textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="vm.updateProfile(vm.user.profilePhoto)">Update</button>
            </form>
        </div>
    </div>
</div>
