<div class="container-fluid" ng-cloak style="margin-top:30px;">
    <div class="row">
        <div class="col-md-12">
            <img class="center-block" src="assets/images/forumias-png.png" />
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4 col-md-offset-8 col-xs-12 col-xs-offset-1" style="margin-right:4px;">
            <div class=" well">
                <uib-tabset active="0">
                    <uib-tab index="0" heading="Reset Password">
                        <form style="margin-top:15px;">
                            <div class="form-group">
                                <label for="profile.password">Password</label>
                                <input type="password" class="form-control" id="profile.password" placeholder="Password" ng-model="vm.user.password" />
                            </div>
                            <div class="form-group">
                                <label for="profile.confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="profile.confirmPassword" placeholder="Confirm Password" ng-model="vm.user.confirmPassword" ng-keyup="$event.keyCode == 13 && vm.login()" />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-default pull-right" type="button" ng-click="vm.user.password == vm.user.confirmPassword && vm.resetPassword()" value="Reset">
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>