/*used in Library pannel as round button starts*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
/*used in Library pannel as round button ends*/

/* to align button in bottom of the div starts*/
.bottomaligned {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    margin: 7px;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    left: 100px;
}

.fixedheight {
    height: 150px;
    position: relative;
}
/* to align button in bottom of the div ends*/

.selectedLesson {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
